@import '../base.scss';

.login-container {
    height: 100vh;
    width: 100%;
    padding: pxToRem(10);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
        border: 1px solid #ccc;
        border-radius: pxToRem(10);
        // padding-top: pxToRem(20);

        .login-btn {
            text-align: right;
        }
    }
}